//
   Created by omer on 13/06/2016.

doctype html
html
    head
        title Sentence Game Forever And Ever.com
        link(rel='stylesheet', type='text/css', href='public/stylesheets/game.css')
        link(rel='stylesheet', type='text/css', href='public/stylesheets/clock.css')
        script(src="https://fb.me/react-0.14.7.js")
        script(src="https://fb.me/react-dom-0.14.7.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="public/javascripts/clock.js")
    body
        #clockdiv
            div
                span.minutes
                .smalltext Minutes
            div
                span.seconds
                .smalltext Seconds

        #gamediv
            input#lastsentence(type='text', disabled='')
            form(name="sentence", onsubmit='submitSentence')
                input#mySentence(type='text', required='')
                input(type="submit", value="Submit")

        textarea#storyArea(disabled='' hidden='true')
        #playerListContainer
        script(type="text/babel" src='public/javascripts/game.jsx')
